
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541201936687301562.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541201936687301562.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541201936687301562.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541201936687301562.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541201936687301562.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541201936687301562.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541201936687301562.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541201936687301562.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541201936687301562.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541201936687301562.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541201936687301562.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541201936687301562.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541201936687301562.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-541201936687301562.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541201936687301562.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541201936687301562.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541201936687301562.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541201936687301562.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541201936687301562.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541201936687301562.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541201936687301562.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541201936687301562.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541201936687301562.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541201936687301562.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-541201936687301562.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-541201936687301562.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541201936687301562.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541201936687301562.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-541201936687301562.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-541201936687301562.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541201936687301562.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541201936687301562.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541201936687301562.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541201936687301562.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541201936687301562.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541201936687301562.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541201936687301562.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541201936687301562.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541201936687301562.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541201936687301562.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-541201936687301562.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541201936687301562.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541201936687301562.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-541201936687301562.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541201936687301562.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-541201936687301562.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-541201936687301562.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541201936687301562.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541201936687301562.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-541201936687301562 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-541201936687301562 .gp-relative{position:relative}.gps-541201936687301562 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541201936687301562 .gp-mb-0{margin-bottom:0}.gps-541201936687301562 .gp-flex{display:flex}.gps-541201936687301562 .gp-grid{display:grid}.gps-541201936687301562 .\!gp-hidden{display:none!important}.gps-541201936687301562 .gp-hidden{display:none}.gps-541201936687301562 .gp-max-w-full{max-width:100%}.gps-541201936687301562 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-541201936687301562 .gp-flex-col{flex-direction:column}.gps-541201936687301562 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541201936687301562 .gp-duration-200{transition-duration:.2s}.gps-541201936687301562 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-541201936687301562 .tablet\:\!gp-hidden{display:none!important}.gps-541201936687301562 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541201936687301562 .mobile\:\!gp-hidden{display:none!important}.gps-541201936687301562 .mobile\:gp-hidden{display:none}}.gps-541201936687301562 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRmVZmO8F6"}' data-id="gRmVZmO8F6" id="gRmVZmO8F6" data-same-height-subgrid-container class="gRmVZmO8F6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUSI4SRRp2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtuSKyL-hq"}' data-id="gtuSKyL-hq" id="gtuSKyL-hq" data-same-height-subgrid-container class="gtuSKyL-hq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gR5m1cby77 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDiPOQe6S8"
        class="gDiPOQe6S8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-44px;--mt-mobile:-44px;--ml-mobile:6px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDiPOQe6S8_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-541201936687301562 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/b1i9bd-14/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=541201726301078704&sectionId=541201936687301562)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDiPOQe6S8_text","label":"ggDiPOQe6S8_text","default":"<strong>Privacy Policy – Slum Kid</strong><br>&nbsp;<br>Last updated: 06.11.2024<br>&nbsp;<br>At <strong>Slum Kid</strong>, we value and respect the privacy of our customers. This Privacy Policy outlines how we collect, use, store, and protect your personal information when you visit our website and make purchases.<br>&nbsp;<br><strong>1. Information We Collect</strong><br>&nbsp;<br>We collect personal information when you interact with our store, such as when you create an account, place an order, or contact us. The types of personal data we may collect include:<ul><li><strong>Personal Identification Information</strong>: Name, email address, mailing address, phone number.</li><li><strong>Payment Information</strong>: Credit card details (processed securely via Shopify Payments or third-party payment gateways).</li><li><strong>Purchase Information</strong>: Order history, product preferences, and shipping details.</li></ul><strong>2. How We Use Your Information</strong><br>&nbsp;<br>We use the information we collect to:<ul><li>Process and fulfill your orders.</li><li>Communicate with you about your orders and provide customer support.</li><li>Improve our products, services, and website.</li><li>Send promotional emails, if you have opted in to receive them (you can unsubscribe at any time).</li></ul><strong>3. Data Retention</strong><br>&nbsp;<br>We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required by law.<br>&nbsp;<br><strong>4. Sharing Your Information</strong><br>&nbsp;<br>We do not sell or rent your personal information to third parties. However, we may share your information with trusted service providers who assist in operating our business (e.g., payment processors, shipping companies) and in complying with legal obligations.<br>&nbsp;<br><strong>5. Security of Your Information</strong><br>&nbsp;<br>We take reasonable precautions to protect your personal information from unauthorized access, alteration, or destruction. Our website uses SSL encryption for secure transactions and Shopify’s secure payment system.<br>&nbsp;<br><strong>6. Cookies</strong><br>&nbsp;<br>We use cookies to improve your shopping experience. Cookies help us remember your preferences and track browsing behavior to improve our website’s performance and functionality.<br>&nbsp;<br><strong>7. Your Rights</strong><br>&nbsp;<br>Depending on your location, you may have rights regarding your personal information, including the right to access, update, or delete your personal data. You may also have the right to withdraw your consent at any time for any processing carried out based on consent.<br>To exercise any of your rights, please contact us at <strong>contact@slumkid.store</strong>.<br>&nbsp;<br><strong>8. Third-Party Links</strong><br>&nbsp;<br>Our website may contain links to third-party websites. We are not responsible for the privacy practices of those sites. We recommend reviewing their privacy policies before providing any personal information.<br>&nbsp;<br><strong>9. Changes to This Privacy Policy</strong><br>&nbsp;<br>We may update this Privacy Policy periodically. Any changes will be posted on this page, and the \"Effective Date\" at the top will reflect the date of the latest update.<br>&nbsp;<br><strong>10. Contact Us</strong><br>&nbsp;<br>If you have any questions or concerns about our Privacy Policy, please contact us at:<br>&nbsp;<br><strong>Slum Kid SNC</strong><br><br>Chemin Daniel-IHLY 9<br>1213 Petit-Lancy<br>Email: contact@slumkid.store"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}