
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541198499522282426.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541198499522282426.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541198499522282426.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541198499522282426.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541198499522282426.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541198499522282426.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541198499522282426.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541198499522282426.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541198499522282426.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541198499522282426.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541198499522282426.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541198499522282426.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541198499522282426.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-541198499522282426.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541198499522282426.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541198499522282426.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541198499522282426.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541198499522282426.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541198499522282426.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541198499522282426.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541198499522282426.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541198499522282426.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541198499522282426.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541198499522282426.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-541198499522282426.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-541198499522282426.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541198499522282426.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541198499522282426.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-541198499522282426.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541198499522282426.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541198499522282426.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541198499522282426.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541198499522282426.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541198499522282426.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541198499522282426.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541198499522282426.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541198499522282426.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541198499522282426.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541198499522282426.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-541198499522282426.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541198499522282426.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541198499522282426.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-541198499522282426.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541198499522282426.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-541198499522282426.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541198499522282426.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541198499522282426.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541198499522282426.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-541198499522282426.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-541198499522282426 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-541198499522282426 .gp-relative{position:relative}.gps-541198499522282426 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541198499522282426 .gp-mb-0{margin-bottom:0}.gps-541198499522282426 .gp-flex{display:flex}.gps-541198499522282426 .gp-grid{display:grid}.gps-541198499522282426 .\!gp-hidden{display:none!important}.gps-541198499522282426 .gp-hidden{display:none}.gps-541198499522282426 .gp-max-w-full{max-width:100%}.gps-541198499522282426 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-541198499522282426 .gp-flex-col{flex-direction:column}.gps-541198499522282426 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541198499522282426 .gp-duration-200{transition-duration:.2s}.gps-541198499522282426 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-541198499522282426 .tablet\:\!gp-hidden{display:none!important}.gps-541198499522282426 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541198499522282426 .mobile\:\!gp-hidden{display:none!important}.gps-541198499522282426 .mobile\:gp-hidden{display:none}}.gps-541198499522282426 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtrnwqnU-3"}' data-id="gtrnwqnU-3" id="gtrnwqnU-3" data-same-height-subgrid-container class="gtrnwqnU-3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--ml-mobile:2px;--pt-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi3jTh5fjR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxRHygBsbu"}' data-id="gxRHygBsbu" id="gxRHygBsbu" data-same-height-subgrid-container class="gxRHygBsbu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxkulWPLeF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1QHMT_-3Z"
        class="g1QHMT_-3Z"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1QHMT_-3Z_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-541198499522282426 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/b1i9bd-14/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=541198220366185584&sectionId=541198499522282426)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1QHMT_-3Z_text","label":"gg1QHMT_-3Z_text","default":"Shipping Policy<br>&nbsp;<br><strong>Shipping Areas</strong><br>We ship our products worldwide.<br>&nbsp;<br><strong>Pre-orders</strong><br>All our products are available for pre-order. Due to the nature of pre-orders, delivery times may be longer.<br><br><strong>Delivery Times</strong><br>The delivery time for pre-orders is generally <strong>4 to 6 weeks</strong> from the order date, depending on production and shipping conditions.<br>Delivery times may vary based on production and transport conditions.<br><br><strong>Shipping Costs</strong><ul><li><strong>Switzerland:</strong> 4.90 CHF</li><li><strong>France:</strong> 9.90 €</li><li><strong>DROM &amp; COM:</strong> 40.95 € to 58.90 €</li><li><strong>European Union:</strong> 14.95 €</li><li><strong>Outside the European Union:</strong> 35.90 € to 70.80 €</li></ul>Shipping costs for pre-orders are automatically calculated at checkout based on the destination.<br><br><strong>Order Tracking</strong><br>Once your pre-order has been shipped, you will receive an email containing a tracking number to monitor the progress of your delivery.<br><br><strong>Taxes and Customs Duties</strong><br>For orders outside the European Union, DROM, and COM, import duties (including taxes, VAT, or customs fees) may apply. These charges are determined by the destination country and calculated based on the origin of the goods and product classification.<br>These additional fees are collected upon the parcel's arrival in your country. <strong>Slum Kid does not collect these fees at checkout and cannot&nbsp;</strong><br><strong>predict their amount.</strong> Should such fees be incurred, they must be paid for the parcel to clear customs. The customer is responsible for covering these charges.<br><br>For more information, contact your local customs office to understand your country's regulations.<br><br>Orders to Switzerland are exempt from additional customs fees as we do not collect VAT.<br><br><strong>Returns of Undelivered Packages</strong><br>If a package is returned to us due to an incorrect address or refusal of delivery, reshipping costs will be charged to the customer.<br>It is your responsibility to ensure delivery information is accurate at the time of ordering.<br><br><strong>Contact for Delivery Issues</strong><br>If you have any questions regarding the shipment of your pre-order, please contact us at:<br><strong>contact@slumkid.store</strong><br><br>We are committed to responding promptly to resolve any delivery-related issues.<br>&nbsp;<br>&nbsp;"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}